<!-- TABLES -->
		<section>
			<h1>Zuitt IT Solutions</h1>
			<br>
			<h3>Products Offered</h3>
			


				<!-- Defines an HTML Table -->

				<table border="1">
					<!-- Heading off the table -->
					<thead>
						<!-- Defines a table row -->
						<tr>
							
							<!-- Defines a table header element -->
							<!-- Defines the amount of columns of the table element will occupy -->

							<th colspan="1">Package</th>
							<th>Price</th>
							<th>Description</th>

						</tr>
						
					</thead>

					<!-- Body of the Table -->

					<tbody>
						<tr>
							<!-- define a table data element -->
							<td>Basic</td>
							<td>&#8369;500.00</td>
						
							<td>Package includes a fully functional websites with desired specifications.</td>
						</tr>

						<tr>
							<td>Premium</td>				
							<td>&#8369;1000.00</td>				
							<td>Enjoy all the benefits of the basic package and also includes site support and maintenance.</td>	

						</tr>

						
					</tbody>

					<!-- Footer of the table -->
						<tr>
							<th colspan="3">Additional features after initial project is inclusive of charges</th>
						</tr>

					<tfoot>
						
					</tfoot>
				</table>

		</section>